@model IEnumerable<Cod.Models.Promo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cod Spot</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>

    <h4> Welcome to the Cod Spot! </h4>

    @foreach (var promo in Model)
    {
        <div>
            @Html.ActionLink("Our Promo", "Details", "Promo", new { id = promo.PromoId })
           
        </div>
    }


    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>

    <p> @Html.ActionLink("Create New Promo", "Create", "Promo")</p>
    <p> @Html.ActionLink("Edit Promo", "Edit", "Promo")</p>


        @using(Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}
else
{
   
      
    


    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}
